@use "../mixins" as query;

.booking-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	border: none;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	background-color: #CB3B1B;
	padding: 8px 16px;
	@include query.for-tablet-only {
		font-weight: bold;
		padding: 16px 50px;
	}
	

	* {
		text-decoration: none;
		color: white;
	}
}