@use "../mixins" as query;

.booking-card {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: small;
	border-radius: 6px;
	padding: 30px 11px;
	background-color: white;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	@include query.for-large-only {
		justify-content: center;
	}

	.item-container {
		display: flex;
		position: relative;
		margin-right: 20px;
		transition: all;
	

		.calendar-icon {
			font-size: small;
			margin-right: 10px;
			@include query.for-tablet-only {
				font-size: large;
			}
		}

		.start-date {
			margin-right: 8px;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;
			@include query.for-tablet-only {
				font-size: large;
				margin-right: 10px;
			}
		}

		.end-date {
			margin-right: 5px;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;
			@include query.for-tablet-only {
				font-size: large;
				margin-right: 10px;
			}
		}
	}

	.destination-container {
		@extend .item-container;
		input {
			color: black;
			border: none;
			&:focus {
			outline: none;
			}	
			&::placeholder {
				color: black;
			}
		}
	}

		.start-calendar {
			position: absolute;
			max-width: none;
			z-index: 1;
			top: 40px;
			left: -20px;
		}

		.end-calendar {
			position: absolute;
			max-width: none;
			top: 40px;
			right: -120px;
			z-index: 1;
		}
	}





